body {
  margin:0;
}

a {
  color:gray;
  text-decoration:none;
}

.logoutLink {
  margin-right: 20px;
}

.top-container {
  height: 80px;
  line-height: 77px;
}

.companyName {
  display:inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.menu {
  height: 48px;
  line-height: 48px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.menuNav {
  width:920px;
  margin:auto;
  line-height: 48px;
}

.menuItem {
  width: 220px;
  display: inline-block;
  cursor:pointer;
  text-align: center;
}

.menuItem:hover {
  border-bottom: 3px solid gray;
}

.menuItem.active {
  border-bottom: 3px solid gray;
}

  .menuItem img{
    height: 20px;
  }

#mainContent {
  width: 920px;
  margin:auto;
  background-image: url("../assets/images/bg.png");
  //height: 100vh;
}

.exerciseItem {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top:20px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  background: white;
  opacity: 0.9;
  margin-bottom: 10px;
}

.exerciseHeader{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color:gray;
}

.exerciseImage{
  height: 170px;
  margin-top:10px;
  text-align: center;
  margin-left: -28px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.exerciseDesc {
  margin-left: 10px;
  margin-right:10px;
  margin-top:10px;
  font-size:11px;
}
