body {
  margin:0;
}

a {
  color:gray;
  text-decoration:none;
}

a:hover{
  text-decoration: none;
  color:black;
}

.logoutLink {
  margin-right: 20px;
}

.top-container {
  height: 80px;
  line-height: 77px;
}

.companyName {
  display:inline-block;
  margin-left: 20px;
  font-size: 14px;
}

.menu {
  height: 48px;
  line-height: 48px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.menuNav {
  width:920px;
  margin:auto;
  line-height: 48px;
}

.menuItem {
  width: 220px;
  display: inline-block;
  cursor:pointer;
  text-align: center;
}

.menuItem:hover {
  border-bottom: 3px solid gray;
}

.menuItem.active {
  border-bottom: 3px solid gray;
}

  .menuItem img{
    height: 20px;
  }

#mainContent {
  width: 920px;
  margin:auto;
  background-image: url("../assets/images/bg.png");
  //height: 100vh;
}

.exerciseItem {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top:20px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
  background: white;
  opacity: 0.9;
  margin-bottom: 10px;
}

.exerciseHeader{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    color:gray;
}

.exerciseImage{
  height: 170px;
  margin-top:10px;
  text-align: center;
  margin-left: -28px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.messageDesc {
  margin-left: 10px;
  margin-right:10px;
  margin-top:10px;
  font-size:11px;
}

.bodySelectionContainer{
  margin-top: 10px;
  margin-bottom: 10px;
}

.bodyImageContainer {
  text-align: center;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.bodyImage {
  margin:10px;
}

.bodyFormContainer{
  background: white;
  height: 464px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.selectedBodyPart {
  display: none;
  height: 100%;
}

.bodyPartItem {
  height: 200px;
  background: white;
  margin-top:5px;
  margin-bottom: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

img.map, map area{
    outline: none;
}

.buttons{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color:black;
}

.wellBeing{
  margin:auto;
}

.topMessage {
  background: white;
  margin-top:50px;
  margin-bottom:20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.messageText {
  margin:15px;
}

.messageItem {
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin-bottom: 15px;
}

  .messageItem .progressContainer {
    width:110%
  }
.header{
  font-size:24px;
  padding:5px;
  text-align: center;
  border-bottom: solid #444444 1px;
  margin-bottom:7px;
  color: #444444;
  font-family: 'Raleway', sans-serif;
}

.content {
  margin:7px;
}

.wellBeingIcon{
  height: 14px!important;
}

.progressContainer {
  padding: 20px;
  margin-left: -5%;
  margin-right: -5%;
  background:darkred;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin-bottom:0px;
}

.progress {
  margin-bottom: 0;
  height: 3px;
  background-image: none;
  background-color: #843534;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar-white {
  background-color: white;
  background-image: none;
}


